<div class="flex-grow flex">
  {{#link-to "index"
    class="no-underline text-white py-4"
    activeClass="text-orange"
  }}
    Homeward
  {{/link-to}}
</div>
<div class="flex">
  {{#if session.isAuthenticated}}
    <a onclick={{action "logout"}}>Log out</a>
  {{else}}
    {{#link-to "signup"
      class="no-underline text-white p-4 hover:bg-purple-dark"
    }}
      Sign up
    {{/link-to}}
    {{#link-to "login"
      class="no-underline text-white p-4 hover:bg-purple-dark"
    }}
      Login
    {{/link-to}}
  {{/if}}
</div>

{{yield}}