{{#if action.isDocumentUpload}}
  {{#if action.documents}}
    {{#each action.documents as |document|}}
      <p data-test-document-download>Document download placeholder</p>
    {{/each}}
  {{else}}
    {{#if isBuyer}}
      {{task-action
        action=action
        data-test-buyer-action=true
      }}
    {{else}}
      <p data-test-buyer-action-solicitor-message>Awaiting buyer to upload documents</p>
    {{/if}}
  {{/if}}
{{/if}}

{{yield}}