{{#if action.isDocumentUpload}}
  {{#if isOwner}}
    {{document-upload
      onFileAdd=uploadDocument
      onDrop=multipleDocumentUpload
      fileQueueName=fileQueueName
      data-test-buyer-action=true
    }}
  {{else}}
    <p data-test-non-owner-message>Awaiting document upload</p>
  {{/if}}
{{/if}}

{{#if action.isApproval}}
  {{action.description}}

  <button>Approve</button>
  <button>Decline</button>
{{/if}}


{{yield}}