<div class="mt-8">
  <h4>Here is your quote</h4>
  <h2 class="text-orange mt-4">£1,500</h2>
  <small>(inc. VAT)</small>
  <p class="mt-4">This quote includes all fees and charges.</p>
  {{#link-to "signup.deposit"
    class="mt-4 p-4 bg-green shadow w-1/4 m-auto no-underline block hover:bg-green-dark text-white"
  }}
    Appoint us
  {{/link-to}}
</div>