<h2 data-test-conveyance-header>Conveyances</h2>

<h3>Address</h3>
{{formatted-address address=conveyance.address}}

<h2>Tasks</h2>
{{#each conveyance.tasks as |task|}}
  {{conveyance-task task=task}}
{{/each}}