<h1>Dashboard</h1>

{{#if currentUser.user.isSolicitor}}
  {{solicitor-dashboard
    conveyances=conveyances
  }}
{{else if currentUser.user.isBuyer}}
  {{buyer-dashboard
    conveyances=conveyances
  }}
{{/if}}

{{outlet}}