<h2>This is the Homepage</h2>

<h3>Buying a house? Sign up to get your conveyancing done.</h3>
{{#link-to 'signup'}}Sign up now!{{/link-to}}

<p>
  First time buyer? Conveyancing is shit, trust us, lots of paper, many emails to solicitors
  that will be ignored, lots of time, many annoyances.
</p>

<strong>Use our platform because it's better and it's 2018</strong>