
<div class="m-8 text-center">
  <h3 class="text-orange">
    Buying or selling your home? Homeward is the UKs first fully online conveyancer.
  </h3>
  <div class="my-4">
    {{#link-to "signup"
      class="no-underline bg-purple p-4 block w-1/3 m-auto hover:bg-purple-darker text-white"
    }}
      Get a quote in 3 easy steps
    {{/link-to}}
  </div>
  <p>See a demo of Homewards online platform</p>
</div>
